<h3>Plus qu'un clic pour faire partie de la plus grande communauté de fans de snowboards !</h3>

<p>Bonjour {{ name }} ! Votre demande de création de compte n'attend plus que votre confirmation. Veuillez cliquez sur le lien suivant :</p>
<p><a href="{{ url('snowtricks_confirm_register', {'userId': userId, 'token': token}) }}">Confirmez votre compte</a> !<p>
<hr>
A très vite sur le site Snowtricks !
