{% extends 'layout.html.twig' %}

{% block title %}SnowTricks{% endblock title%}

{% block background %}
	<div class="backgroundImage"></div>
{% endblock background %}

{% block body %}
	<div class="list-group" role="tablist">
		<a class="btn btn-light allTricks" id="listTricks" data-toggle="list" href="#tricks" role="tab">
			<i class="fa fa-arrow-down fa-vc"></i>
		</a>
	</div>
<div class="container mt-5 mb-5">
	<div class="tab-content">
  		<div class="tab-pane fade" id="tricks" role="tabpanel" aria-labelledby="tricks">
  			<div class="card-deck">
			{% for trick in listTricks %}
  				<div class="card homeTrick">
	  				<img class="card-img-top" src="{{ asset('img/card.jpg') }}" alt="{{ trick.name }}">
	  				<div class="card-body">
	    				<a href="#" class="card-title">{{ trick.name }}</a>
	    				<a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a>
	    				<a href="#"><i class="fa fa-trash fa-fw"></i></a>
	  				</div>
				</div>
				<span></span>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock body %}