{% extends 'add.html.twig' %}

{% block cardHeader %}
	<h2 class="text-center"><a href="{{ path('snowtricks_view', {'slug': trick.slug}) }}">{{ trick.name|upper }}</a></h2>
{% endblock %}

{% block updateImage %}
	{% if images is not empty %}
		<div class="row justify-content-end">
		<div class="col-sm-8">
			<div class="row">
				{% for image in images %}
					<div class="col-sm-3 updateImage">
						<img src="{{ asset(image.url) }}" alt="">
						<a href="{{ path('snowtricks_image_remove', {'id': image.id}) }}"><em>Supprimer cette image</em></a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
