{% extends 'layout.html.twig' %}

{% block title %}SnowTricks{% endblock title%}

{% block background %}
    <div class="backgroundImage">
        <p class="catchSentence">Rejoignez la plus grande communauté<br />de fans de snow</p>
    </div>
{% endblock background %}

{% block body %}
    <div class="list-group" role="tablist">
        <a class="btn btn-light allTricks" id="listTricks" data-toggle="list" href="#tricks" role="tab">
            <i class="fa fa-arrow-down fa-vc"></i>
        </a>
    </div>
    <div class="container mt-5 mb-5">
    <div class="tab-content">
        <div class="container mt-5 mb-5">
            <div class="" id="tricks" role="tabpanel" aria-labelledby="tricks">
                {{ include('tricks/listTricks.html.twig') }}
            </div>
            <a class="btn btn-light text-center validButton" href="#tricks" id="loadMore">Voir plus</a>
        </div>
    </div>
{% endblock body %}