{% extends 'layout.html.twig' %}

{% block title %}SnowTricks{% endblock title%}

{% block background %}
    <div class="backgroundImage">
        <p class="catchSentence">Rejoignez la plus grande communauté<br />de fans de snow</p>
    </div>
{% endblock background %}

{% block body %}
    <a class="btn btn-light allTricks" href="#tricks" role="tab">
        <i class="fa fa-arrow-down fa-vc"></i>
    </a>
    <div class="container mt-5">
        <div class="" id="tricks">
            {{ include('tricks/_list_tricks.html.twig') }}
        </div>
        <button class="btn btn-light text-center validButton mb-5" id="loadMore">Voir plus</button>
    </div>
{% endblock body %}