body
{
    font-family: 'PT Sans';
}

p, em
{
    font-size: 16px;
}

h1, h2
{
    font-size: 19px;
}

a:hover
{
    color: #18BC9C;
}

a.name, p.catchSentence
{
    font-family: 'Nova Mono', Arial;
    font-size: 2em;
}

a.name
{
    text-decoration: none;
    color: grey;
}

p.catchSentence
{
    position: absolute;
    top: 550px;
    right: 25%;
    width: 50%;
    color: #18BC9C;
    text-align: center;
}

header
{
    position: absolute;
    background: transparent;
    width: 100%;
}

#navbarToggler
{
    position: absolute;
    right: 50px;
}

.backgroundImage
{
    margin:0;
    padding:0;
    background: url('../../web/img/background.jpg') no-repeat center;
    height: 700px;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: black;
    font-size: 20px;
}

.btn.allTricks
{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    bottom: 50px;
    padding: 8px;
}

.btn.allTricks i
{
    color: black;
    font-size: 25px;
}

/* responsively enforce wrapping */
.card-deck span 
{
    display: none;
}

@media (min-width:1200px)
{
    .card-deck span:nth-of-type(5n) {
    display: block;
    width: 100%;
    }
}

@media (min-width:992px) and (max-width: 1199px) 
{
    .card-deck span:nth-of-type(4n) {
    display: block;
    width: 100%;
    }
}

@media (min-width:768px) and (max-width: 991px) 
{
    .card-deck span:nth-of-type(3n) {
    display: block;
    width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) 
{
    .card-deck span:nth-of-type(2n) {
    display: block;
    width: 100%;
    }
}

/* VIEW */
.content
{
    width: 70%;
    margin: auto;
    padding: 130px 0 0 0px;
}

.discuss
{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.coverImage
{
    position: relative;
    display: inline-block;
}

.coverImage .btn-toolbar
{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.coverImage img
{
    max-width: 100%;
}

.otherImages img
{
    max-width: 100%;
}

div.video
{
    max-width: 200px;
}

div.snowtricks_platformbundle_trick_images-collection-actions, div.snowtricks_platformbundle_trick_videos-collection-actions
{
    display: none;
}

div#snowtricks_platformbundle_trick_videos input
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button#snowtricks_platformbundle_trick_save
{
    width: 250px;
    border-color: rgba(0,0,0,.125);
}

button#snowtricks_platformbundle_message_save
{
    border-color: rgba(0,0,0,.125);
}

div.videos iframe
{
    max-width: 100%;
    max-height: 150px;
}


